body .header {
    width: 80%;
    height: 400px;
    margin: auto;
}

.header {
    background-color: rgb(35, 35, 50, .8);

}

.navi {
    padding-top: 5px;
    justify-content: right;
    position: sticky;
    top: 20px;
    float: right;
}

.navi a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;

}

.navi a:hover {
    color: black;
}