@font-face {
    font-family: "Cormorant Regular";
    src: url("/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "Cormorant Italic";
    src: url("/Cormorant_Garamond/CormorantGaramond-Italic.ttf");
}

.navi a, .text_header{
    font-family: "Cormorant Regular", 'Times New Roman', Times, serif;
}

.header, .about{
    width: 70%;
    margin: auto;
    background: #1a2e3b;

}

.header {
    height: 6rem;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navi {
    justify-content: flex-end;
    position: sticky;
}

.navi a {
    color: #f8f8f8;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 3rem;
    font-size: 1.6rem;
}

.navi a:hover {
    color: #c58446;
}

.about {
    height: 30rem;
}

.avatar img {
    margin-left: 5%;
    width: 30rem;
    box-shadow: 3px 3px 6px;
    float: left;
}

.text_header {
    color: #f8f8f8;
    padding-top: 1%;
    text-align: center;
}

.text_header h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

.text_header h3 {
    font-size: 2rem;
}

.text_stack {
    width: 45%;
    height: 15rem;
    margin-left: auto;
}

.text_stack ul {
    padding: 0 3rem;
    columns: 2;
}

.text_stack ul li {
    padding: 2px;
    color: rgba(240, 248, 255, 0.647);
    font-size: 1.5rem;
}

.text_about {
    margin-top: 10rem;
}

.text_about p {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
    font-family: "Cormorant Italic",  'Times New Roman', Times, serif;

}