@font-face {
    font-family: "Cormorant Regular";
    src: url("/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "Cormorant Italic";
    src: url("/Cormorant_Garamond/CormorantGaramond-Italic.ttf");
}

.navi a, .text_header, .text_stack h3, .projects h3{
    font-family: "Cormorant Regular", 'Times New Roman', Times, serif;
}

.header, .about, .main{
    width: 70%;
    margin: auto;
}

.header, .about{
    background: #1a2e3b;
}

.header {
    top: 0;
    position: sticky;
}

.navi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navi a {
    color: #f8f8f8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.navi a:hover {
    color: #c58446;
}

.about {
    /* height: 30rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.avatar img {
    box-shadow: 3px 3px 6px;
    min-width: 300px;
    margin: 20px;
}

.text_header {
    color: #f8f8f8;
    padding-top: 1%;
    text-align: center;
}

.text_header h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

.text_header h3 {
    font-size: 2rem;
}

.text_stack {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.text_stack h3, .projects h3{
    margin: 0 3rem;
    font-size: 2.5rem;
}

.text_stack ul {
    margin-top: 2rem;
    width: 40rem;
    height: 15rem;
    padding: 0 3rem; 
    columns: 3;
}

.text_stack ul li {
    padding: 2px;
    color: rgba(6, 6, 6, 0.647);
    font-size: 1.8rem;
}

.text_about {
    margin-top: 8rem;
}

.text_about p {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
    font-family: "Cormorant Italic",  'Times New Roman', Times, serif;
}

